p {
  color: red;
  color: #666666;
  font-family: Helvetica, Arial, sans-serif;
}

h1{
  font-family: Georgia, "Times New Roman", serif;
}

body{
  background-color:#ebe3ce;
}

#container{
  width: 95%;
  background-color:#ffffff;
  margin: 0 auto;
}

.caption{
  color:black;
  font-family:Georgia, "Times New Roman", serif;
  font-size:0.8em;
  font-style:italic;
  margin-top:0;
  text-align:right;
}

#nav {
  padding: 0;
}

#nav li {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
}

#nav a:link, a:visited {
  display: block;
  color: #ffffff;
  background-color: #98bf21;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, a:active {
  background-color: #7a991a;
}

#footer {
  color: black;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 0.8em;
  border-top: 1px solid black;
}

img {
  border-style: none;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* this is another way to express a 16:9 ratio */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.twitter-wrapper {
    float: left;
    margin-right: 30px;
}
